/* COMMON */
.body__container {
	font-family: 'Roboto', sans-serif; /* google fonts 사용 */
	font-size: 16px;
	font-weight: 400;
	color: #333;
}
a {
	text-decoration: none; /*글자 밑줄 없애주기*/
}

/* btn 공통 부분 */
.btn {
	height: 34px;
	background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	display: inline-flex;
	align-items: center; /*수직 정렬*/
	padding: 0 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	color: #333; /*기본 btn의 색은 파랑색이기 때문에 바꿔준 것*/
}
.btn:hover::before {
	/* btn에 마우스 올릴 경우 */
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.07);
}
.btn.btn--primary {
    border: 1px solid #519d30;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* Input text 공통 부분  */
.input--text {
	height: 34px;
	padding: 0 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	font-size: 16px;
  }
  .input--text:focus {
	border-color: #51a7e8;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),
				0 0 5px rgba(81,167,232,0.5);
  }
  /* Vendor Prefix (브라우저 업체별 접두사)
  실험적인 기능을 해당 브라우저에서 실행할 수 있다.
  webkit: 크롬
  ms: 인터넷 익스플로러, 엣지
  moz: 파이어폭스 */
.input--text::-webkit-input-placeholder {
	color: #cacaca;
}
.input--text::-ms-input-placeholder {
	color: #cacaca;
}
.input--text::-moz-input-placeholder {
	color: #cacaca;
}

/* FLOAT CLEARFIX 
테두리 안에 좌우로 나눠 줄 수 있게 만드는 것
[part1    part2] 
*/
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}
.float--left {
	float: left;
}
.float--right {
	float: right;
}

/* SUMMARY */
.summary {

}
.summary__title {
	font-size: 38px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 18px;
}
.summary__description {
	font-size: 26px;
	font-weight: 300;
	color: #767676;
	line-height: 1.5;
}

/* SECTION & INNER*/
.section {
	position: relative; /*요소를 위에서 찾아야 하는 경우 여기 까지라는 것을 알려주기 위함*/
}
.section .inner {
	max-width: 980px;
	margin: 0 auto; /*화면 중앙 정렬(width가 정의 되어있는 상태여야만 사용 가능)*/
	box-sizing: border-box; /*padding, border 상황시 요소 커짐 방지*/
	position: relative; /*inner을 기준으로 배치 될 수 있게 하는 것*/
}
/* ----------------------------------------- */


/*HEADER*/
header {
	border-bottom: 1px solid rgba(0,0,0,.75);
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	background: #FFF;
}
header .inner {
	/* height를 여기에 한번 입력하는 이유:border: 
	 header부분은 자식요소인 .inner 부분의 영향을 받게 됨으로
	 안써줘도 됩니다.*/
	/* max-width: 980px;
	margin: 0 auto; 화면 중앙 정렬(width가 정의 되어있는 상태여야만 사용 가능) */
	height: 78px;
}
header .menu-group {
	/* header .inner .menu-group과 같다*/
	display: flex; /*수평 정렬*/
	align-items: center; /*수직 정렬*/
	height: 100%; /*.inner(부모)의 크기에 영향받는 것*/
}
header .logo {
	margin-right: 10px;
}
header .logo a {
	/* 로고에 마우스를 hover(댓을 때) 로고가 바뀌게 하는 것*/
	background: url("../img/logo.svg");
	width: 32px;
	height: 32px;
	display: block;

	/*
	-9999px(text사라지게 하는 약속)을 통해 왼쪽으로 밀어 버려서
	화면에는 사라졌지만 구조적으로 남아있어 대체 text역할을 한다
	=> background 속성을 통해 img 삽입할 때 대체 text를 삽입하는 방법
	들여 쓰기(오른쪽 (양수)으로 밀어준다)*/
	text-indent: -9999px; 
}
header .logo a:hover {
	background: url("../img/logo_on.svg");
}
header .main-menu {
	/*main-menu 자식요소 만*/
	display: flex; 
}
header .main-menu li a{
	/*main-menu안의 각각의 li 태그 안의 a태그 설정
	선택할 수 있는 영역 늘려주기(a 태그 관련)
	a태그: inline요소로 padding을 사용 x -> block요소로 변경
	*/
	display: block;
	padding: 10px; /*margin 보다 영역이 크다*/
	color: #3c4146;
}
header .main-menu li a:hover {
	color: #4078c0;
}
header .sign-group {
	display: flex;
	align-items: center;
	height: 100%;
}
/* 순서 거꾸로 만들기 (order)*/
header .btn-group {
	order: 2;
	display: flex; /*btn-group 내부 btn 수평*/
}
header .btn-group .sign-in {
	margin-right: 4px;
}
#search-form {
	/* id가 있으면 부모 없어도 된다 */
	order: 1;
	margin-right: 12px;
}
#search {
	width: 160px;
	font-size: 14px;
}
#search + [type="submit"] {
	/* search의 다음 형제 요소인 type이 submit인 요소*/
	display: none; /*화면 상에 안보이게 한다*/
}
header .sub-menu {
	/* order: 0; */
	display: flex;
	margin-right: 10px;
}
header .sub-menu li a {
	padding: 8px;
	display: block;
	font-size: 13px;
	color: #3c4146;
}
header .sub-menu li a:hover {
	color: #4078c0;
}

/* VISUAL */
.section--visual {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat; /* 배경 반복 안한다*/
	background-position: bottom left;
	background-size: cover;/*size를 늘리거나 줄일때 배경이미지도 같이 늘리고 줄이는 방법 */
}
.section--visual::before {
	/* 배경사진 어둡게 만드는 것
	-> 어두운 것을 덮는 느낌 */
	content: "";
	position: absolute; /*절대 위치, 부모 요소(.section)에 position이 꼭 있어야 합니다.*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/* width: 100%;
	height: 100%; */
	background: rgba(0,0,0,.3);
}
.section--visual .inner {
	/* max-width: 980px;
	margin: 0 auto; 화면 중앙 정렬(width가 정의 되어있는 상태여야만 사용 가능) */
	padding: 160px 0; /*위아래 내부 여백 만들기*/
	display: flex;
}
.section--visual .summary {
	/* flex-grow: 1; 가변하는 영역으로 만들어 준다.
	flex-basis: 0; summary 부분이 쪼그라 들게 만들었다 */
	flex: 1;
	margin-right: 90px;
}
.section--visual .summary__title {
	color: #fff;
	font-size: 54px;
	text-shadow: 0 1px 1px rgba(0,0,0,.25),
				 0 1px 25px rgba(0,0,0,.75); /*글자에 그림자 넣기*/
}
.section--visual .summary__description {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.25),
				 0 1px 25px rgba(0,0,0,.75);
}
#sign-form {
	width: 340px;
	margin-top: 16px;
}
#sign-form li {
	margin-bottom: 17px;
}
#sign-form li:last-child {
	margin-bottom: 0;
}
#sign-form .input--text {
	width: 100%;
	height: 40px;
}
#sign-form .caption {
	font-size: 12px;
	margin-top: 5px;
	color: rgba(255,255,255,.6);
	line-height: 1.5;
	text-align: center;
}
#sign-form [type="submit"] {
	width: 100%;
	height: 63px;
	padding: 0 25px;
	font-size: 20px;

	/* .btn을 inline요소로 바꿔줬기 때문에 수평 정렬하기 위해서 사용*/
	justify-content: center; 
}