/* @media screen and (max-width: 1024px) */
/* width 1024 이하일때 */
header.section .inner {
    max-width: none;
    height: auto;
    /*내부 자료에 맞게 늘어나게 하기 위함*/
    padding: 0 20px;
    /*내부 여백*/
}
header .menu-group,
header .sign-group {
    /* 다중 선택자 */
    /* header .menu-group {
		float: none;
	}
	header .sign-group {
		float: none;
	} */
    float: none;
}
header .menu-group {
    /* 미디어 줄였을 때 메뉴 수직으로 놓기 */
    display: block;
}
header .logo {
    padding: 12px 0;
}
header .main-menu {
    /* 미디어 줄였을 때 메뉴 수직으로 놓기 */
    display: block;
    margin-bottom: 10px;
}
header .main-menu li {
    border-top: 1px solid #e5e5e5;
}
header .main-menu li a {
    padding: 16px 0;
}
header .sign-group {
    display: block;
    /*block 속성이므로 order가 적용되지 않는다*/
    padding: 10px 0 20px;
}
header .btn-group {
    display: block;
}
header .btn-group .btn {
    justify-content: center;
    /*(글자 가운데 정렬)수평가운데 정렬*/
}
header .btn-group .sign-in {
    margin-right: 0;
    margin-bottom: 12px;
}
#search-form {
    margin-top: 12px;
    margin-right: 0;
}
#search {
    width: 100%;
    height: 42px;
    text-align: center;
    /*내용 가운데 정렬*/
}
header .sub-menu {
    margin-top: 12px;
    margin-right: 0;
    justify-content: center;
}
header .toggle {
    /* 메뉴 사라지게 하는 곳 */
    display: none;
    /*화면에서 사라진다.*/
}
header .toggle.on {
    display: block;
}
#toggle-btn {
    display: block;
    /* 위의 #toggle-btn에 있다
	 background: url("../img/menu-toggle.svg");
	width: 18px;
	height: 24px;
	position: absolute; 부모에 position 값 있는지 확인
	top: 16px;
	right: 20px;
	cursor: pointer;
	text-indent: -9999px; */
}

/* VISUAL */
.section--visual {
    /*background가 잘 보이게 만들기*/
    background-image: url("../img/bg-small.jpg");
}
.section--visual .inner {
    display: block;
    max-width: none;
    padding: 80px 20px;
}
.section--visual .summary {
    text-align: center;
    /*글자 가운데 정렬*/
    margin-right: 0;
    margin-bottom: 50px;
}
#sign-form {
    width: auto;
    max-width: 500px;
    margin: 0 auto;
    /*가운데 정렬*/
}

/* FEATURE */
.section--feature .summary {
    padding: 66px 20px 0 20px;
}
.section--feature .tiles li {
    width: 50%;
}
.section--feature .tiles li:nth-child(2) {
    border-right: none;
}
.section--feature .tiles li img {
    padding: 14px 30% 24px;
    /*img 크기 줄이기*/
}

/* MAP: WHERE IS */
.section--where-is .inner {
    max-width: none;
    padding: 80px 20px 0 20px;
}

/* PRICING CARD */
.section--pricing .inner {
    max-width: none;
    padding: 80px 20px;
}
.section--pricing .card .cell2 {
    font-size: 20px;
}

/* FOOTER */
footer .inner {
    padding: 50px 20px;
}
footer .logo {
    display: none;
}